@font-face {
    font-family: 'fredoka';
    src: url(../fonts/Fredoka-VariableFont_wdth,wght.ttf);
}

:root{
    --bg-color:#000000e6;
    --detalhes-color:#185c5f;
    --icon-color:aliceblue;
    --strings-color:#fff;
    --spanNews-color:#6dd4d9;
}

body{
    background: var(--bg-color);
}

a{
    text-decoration:none;
}

::-webkit-scrollbar{
    width: 5px;
    border-radius: 5px;
    background-color: var(--icon-color);
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
background-color: var(--detalhes-color);

}
    

.header{
    display: flex;
    
    justify-content: center;
    height: 120px;
}

.header__container{
    display: flex;
    width: 80%;
    border-bottom: 1px solid var(--spanNews-color);
    justify-content: space-between;
    flex-direction: column;
    
}

.header__container__blocos{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

h1{
    font-size: 50px;
    padding-top: 20px;
    font-family: 'fredoka';
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 10%, rgba(50,209,217,1) 49%, rgba(24,92,95,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: neon 3s alternate infinite ease-in-out;
    
}

@keyframes neon {
    from{
        filter: drop-shadow(0 0 0 var(--detalhes-color));
    }
    to{
        filter: drop-shadow(0 0 15px #37969b);
    }
}


.blocos__categorias{
    display: flex;
    
    justify-content: space-between;
}

.categoria{
    cursor: pointer;
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
    background: none;
    border: none;
    color: var(--strings-color);
    font-family: 'fredoka';
}
.categoria:first-child{
    padding-left: 0;
}

.categoria:nth-child(2n){
    border-left: 1px solid var(--detalhes-color);
    border-right: 1px solid var(--detalhes-color);
}


.blocos__busca{
    background-color:var(--strings-color);
    border:solid 1px;
    border-radius:15px;
    width:300px;
    margin-top: 40px;
    display: flex;
    padding: 2px;
}


.bloco__busca__input{
    
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

  .bloco__busca__input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .blocos__ordenacao {
    display: flex;
    padding-bottom: 5px;
    width: fit-content;
    justify-content: center;
    color: var(--icon-color);
    font-family: 'fredoka';
}
.blocos__ordenacao div {
    margin: 0 8px 0 8px;
    
}
.blocos__ordenacao div button{
    color: var(--detalhes-color);
    cursor: pointer;
    font-family: 'fredoka';
    width: max-content;
}



.lista{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.lista__container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.lista__container__noticia{
    display: flex;
    width: 49%;
    align-items: center;
    margin-bottom: 50px;
}
.lista__container__noticia--erro{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 15vw;
    color: wheat;
    margin-bottom: 50px;
}

.lista__container__noticia img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
}

.lista__container__noticia__elementos{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
.lista__container__noticia__elementos--titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    margin-bottom: 5px;
}

.lista__container__noticia__elementos--titulo h2{
    font-size: 1.6vw;
    font-family: "fredoka";
    color: var(--strings-color);
}

.lista__container__noticia__elementos--titulo i{
    cursor: pointer;
    color: var(--icon-color);
    padding: 8px;
}


.lista__container__noticia__elementos span{
    font-size: 10px;
    padding-top: 5px;
    color: var(--spanNews-color);
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'fredoka';
}

.lista__container__noticia__elementos p{
    font-size: 0.92vw;
    padding-top: 5px;
    margin-bottom: 5px;
    font-family: 'fredoka';
    color: var(--strings-color);
    height: 120px;
    overflow-y: scroll;
    padding-right: 10px;
    font-style: italic;
    line-height: 22px;
}

.lista__container__noticia__elementos p::-webkit-scrollbar{
    width: 5px;
    border-radius: 5px;
    background-color: var(--icon-color);
}
.lista__container__noticia__elementos p::-webkit-scrollbar-thumb{
background-color: var(--detalhes-color);

}
.lista__container__noticia__elementos--categoria{
    display: flex;
    align-items: center;
}

.lista__container__noticia__elementos--categoria i{
    margin-right: 5px;
    color: var(--icon-color);
}

.lista__container__noticia__elementos--categoria span{
    margin-right: 5px;
    
}

.hide{
    display: none !important;
}
.paginacao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}

.paginacao span{
    padding: 5px;
    border: 1px solid #185c5f ;
    cursor: pointer;
}

.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #000;
    z-index: 999;
    flex-direction: column;
}

.loading span{
    color: var(--icon-color);
    font-size: 6vw;
    
    
}

.loading span:nth-child(2){
    font-size: 2vw;
    animation-delay: 6s;
}

.loading__elements {
    display: flex;
    margin-left:5px ;
    align-items: baseline;
  }
  .loading__elements div {
    width: 6px;
    height: 6px;
    background: var(--icon-color);
    border-radius: 50%;
    animation: loading__elements 1.2s linear infinite;
  }
  .loading__elements div:nth-child(1) {
    animation-delay: 0s;
  }
  .loading__elements div:nth-child(2) {
    animation-delay: 0.1s;
  }
  .loading__elements div:nth-child(3) {
    animation-delay: 0.2s;
  }
  .loading__elements div:nth-child(4) {
    animation-delay: 0.3s; }
  .loading__elements div:nth-child(5) {
    animation-delay: 0.4s;
  }
  .loading__elements div:nth-child(6) {
    animation-delay: 0.5s;
  }
  .loading__elements div:nth-child(7) {
    animation-delay: 0.6s;  }
  .loading__elements div:nth-child(8) {
    animation-delay: 0.7s;
  }
  .loading__elements div:nth-child(9) {
    animation-delay: 0.8s;
  }
  .loading__elements div:nth-child(10) {
    animation-delay: 0.9s;
  }
  .loading__elements div:nth-child(11) {
    animation-delay: 1s;
  }
  .loading__elements div:nth-child(12) {
    animation-delay: 1.1s;
  }
  @keyframes loading__elements {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
  
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

footer form{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

footer form input{
    font-family: 'fredoka';
    color: var(--detalhes-color);
}


@media (max-width: 1200px){
    .lista__container__noticia__elementos--titulo{
        min-width: initial;
    }
    
}

@media (max-width:940px) {
    
}
@media (max-width: 768px) {
    .header__container__blocos{
        align-items: center;
        flex-direction: column;
    }
    .header__container__blocos h1{
        text-align: center;
    }
    .header{
        height: fit-content;
    }
    .blocos__busca{
        margin-top: 10px;
        margin-bottom: 35px;
    }
    .header__container{
        border: none;
    }
    .blocos__ordenacao{
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        padding-top: 5px;
    }
    .lista__container__noticia__elementos--titulo h2{
        font-size: 3vw;
    } 
    .lista__container{
    flex-direction: column;
    width: 90%;
    }
.lista__container__noticia{
    width: 100%;
    }
.lista__container__noticia__elementos p{
    font-size: 2vw;
    }
}


@media (max-width: 425px){
    .blocos__ordenacao{
        text-align: center;
    }
    .blocos__ordenacao div i{
        margin-bottom: 5px;
    }
    .lista__container__noticia__elementos--titulo h2{
        font-size: 4vw;
    }
    .lista__container__noticia img{
        width: 100px;
        height: 100px;
    }
    .lista__container__noticia__elementos p{
        font-size: 3vw;
    }
}

@media (max-width: 375px) {
    .blocos__categorias{
        flex-wrap: wrap;
        justify-content: center;
    }
}
