@font-face {
    font-family: 'fredoka';
    src: url(../fonts/Fredoka-VariableFont_wdth,wght.ttf);
}

:root{
    --bg-color:#000000e6;
    --detalhes-color:#185c5f;
    --icon-color:aliceblue;
    --strings-color:#fff
}

body{
    background: var(--bg-color);
}


    

.header{
    display: flex;
    
    justify-content: center;
    height: 120px;
}

.header__container{
    display: flex;
    width: 80%;
    border-bottom: 1px solid var(--detalhes-color);
    justify-content: space-between;
    flex-direction: column;
    
}

.header__container__blocos{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

h1{
    font-size: 50px;
    padding-top: 20px;
    font-family: 'fredoka';
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 10%, rgba(50,209,217,1) 49%, rgba(24,92,95,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: neon 3s alternate infinite ease-in-out;
    
}

@keyframes neon {
    from{
        filter: drop-shadow(0 0 0 var(--detalhes-color));
    }
    to{
        filter: drop-shadow(0 0 15px #37969b);
    }
}


.blocos__categorias{
    display: flex;
    
    justify-content: space-between;
}

.categoria:first-child{
    padding-left: 0;
}

.categoria:nth-child(2n){
    border-left: 1px solid var(--detalhes-color);
    border-right: 1px solid var(--detalhes-color);
}

.categoria{
    cursor: pointer;
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
    background: none;
    border: none;
    color: var(--strings-color);
}

.blocos__busca{
    background-color:var(--strings-color);
    border:solid 1px;
    border-radius:15px;
    width:300px;
    margin-top: 40px;
    display: flex;
    padding: 2px;
}


.bloco__busca__input{
    
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

  .bloco__busca__input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .blocos__ordenacao {
    display: flex;
    padding-bottom: 5px;
    width: 300px;
    justify-content: center;
    color: var(--icon-color);
}
.blocos__ordenacao div {
    margin: 0 8px 0 8px;
    
}
.blocos__ordenacao div button{
    color: var(--detalhes-color);
    cursor: pointer;
}



.lista{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.lista__container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 100%;
    justify-content: space-between;
}

.lista__container__noticia{
    display: flex;
    width: 49%;
    align-items: center;
    margin-bottom: 50px;
}
.lista__container__noticia--erro{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 15vw;
    color: wheat;
    margin-bottom: 50px;
}

.lista__container__noticia img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.lista__container__noticia__elementos--titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

.lista__container__noticia__elementos--titulo h2{
    font-size: 1.6vw;
    font-family: "fredoka";
    color: var(--strings-color);
}

.lista__container__noticia__elementos--titulo i{
    cursor: pointer;
    color: var(--icon-color);
    padding: 8px;
}

.lista__container__noticia__elementos{
    display: flex;
    flex-direction: column;
}

.lista__container__noticia__elementos span{
    font-size: 12px;
    padding-top: 5px;
    color: var(--detalhes-color);
    font-weight: bold;
}

.lista__container__noticia__elementos p{
    font-size: 1vw;
    padding-top: 5px;
    margin-bottom: 5px;
    font-family: 'fredoka';
    color: var(--strings-color);
}

.lista__container__noticia__elementos--categoria{
    display: flex;
    align-items: center;
}

.lista__container__noticia__elementos--categoria i{
    margin-right: 5px;
    color: var(--icon-color);
}

.lista__container__noticia__elementos--categoria span{
    margin-right: 5px;
    cursor: pointer;
}

.hide{
    display: none !important;
}
.paginacao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}

.paginacao span{
    padding: 5px;
    border: 1px solid #185c5f ;
    cursor: pointer;
}

@media (max-width: 1200px){
    .lista__container__noticia__elementos--titulo{
        min-width: initial;
    }
    
}
@media (max-width: 768px) {
    .header__container__blocos{
        align-items: center;
        flex-direction: column;
    }
    .header__container__blocos h1{
        text-align: center;
    }
    .header{
        height: fit-content;
    }
    .blocos__busca{
        margin-top: 10px;
        margin-bottom: 35px;
    }
    .header__container{
        border: none;
    }
    .blocos__ordenacao{
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        padding-top: 5px;
    }
    .lista__container__noticia__elementos--titulo h2{
        font-size: 3vw;
    } 
    .lista__container{
    flex-direction: column;
    width: 90%;
}
.lista__container__noticia{
    width: 100%;
}
.lista__container__noticia__elementos p{
    font-size: 2.8vw;
}
}


@media (max-width: 425px){
    .lista__container__noticia__elementos--titulo h2{
        font-size: 4vw;
    }
.lista__container__noticia img{
width: 100px;
height: 100px;
}}
